<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws"	
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
				            http://www.springframework.org/schema/beans/spring-beans.xsd				           
				            http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">
	<!-- id：创建的bean的ID， address:提供服务的url 
		serviceClass 调用的服务的类
	-->      
	<jaxws:client id="waybillClient" address="http://localhost:8080/bos/cxf/waybill?wsdl"
		serviceClass="com.redsun.bos.ws.impl.IWaybillWs"
	>
	</jaxws:client>
</beans>
